.container-fluid {
	text-align: center;
	margin-left: 0%;
	width: 100%;
	padding-right: 5%;
	height: 100%;
}

.nav h1 {
	padding-top: 3%;
	margin-left: 5px;
	color: white;
}

.nav .small {
	color: lightgray;
	margin-left: 5px;
	text-align: center;
	padding-top: 3%;
}

.nav {
	background-color: maroon;
	max-width: 32vh;
	min-width: 15vh;
	height: 100%;
}

.nav .profile {
	align-self: start;
}

.nav img {
	border-radius: 50%;
	max-width: 75%;
	display: block;
	margin: auto;
	padding-top: 7%;
}

.nav ul {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 20%;
}

.nav .nav-link {
	color: white;
	text-align: center;
	font-size: large;
}

.nav .nav-link:hover {
	color: gray;
}

.nav .logo {
	color: white;
	padding-left: 3%;
	padding-right: 3%;
}

.nav .logo:hover {
	color: gray;
}

.nav .logo-contain {
	width: 100%;
	text-align: center;
	padding-top: 10%;
}

.nav .footer {
	color: white;
	padding: 45% 10% 10% 10%;
	font-size: small;
	text-align: center;
}

.body {
	padding-top: 3%;
	padding-left: 2%;
	text-align: left;
	width: 100%;
}

.link-danger {
	text-decoration: none;
}

.accordion {
	max-width: 70vh;
}

@media screen and (max-width: 1000px) {
	p, li, td {
		font-size: 14px;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 22px;
	}
}