.container {
	text-align: center;
	margin-left: 0%;
	width: 100%;
}

.nav h1 {
	padding-top: 3%;
	margin-left: 5px;
	color: white;
}

.nav .small {
	color: lightgray;
	margin-left: 5px;
	text-align: center;
	padding-top: 3%;
}

.nav {
	background-color: maroon;
	max-width: 300px;
	min-width: 275px;
	height: 100vh;
}

.nav .profile {
	align-self: start;
}

.nav img {
	border-radius: 50%;
	max-width: 200px;
	display: block;
	margin: auto;
	padding-top: 7%;
}

.nav ul {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 20%;
}

.nav .nav-link {
	color: white;
	text-align: center;
}

.nav .nav-link:hover {
	color: gray;
}

.nav .logo {
	color: white;
	padding-left: 3%;
	padding-right: 3%;
}

.nav .logo:hover {
	color: gray;
}

.nav .logo-contain {
	width: 100%;
	text-align: center;
	padding-top: 10%;
}

.nav .footer {
	color: white;
	padding: 50% 10% 10% 10%;
	font-size: small;
	text-align: center;
}

.body {
	padding-top: 5%;
	padding-left: 2%;
	text-align: left;
	width: 100%;
}

