.container {
	margin-left: 0%;
}

h1 {
	margin-left: 5px;
}

.small {
	color: lightgray;
	margin-left: 5px;
	text-align: center;
}

.nav {
	background-color: maroon;
	max-width: 275px;
	height: 100vh;
}

h1 {
	color: white;
}

.profile {
	align-self: start;
}

img {
	border-radius: 50%;
	max-width: 200px;
	display: block;
	margin: auto;
}

ul {
	margin-left: 15%;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: gray;
}

.logo {
	color: white;
}

.logo:hover {
	color: gray;
}

.logo-contain {
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

.break {
	border: 0.75px solid white;
	width: 80%;
	margin: 10% auto 0 auto;
}